.Contact{
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 180px;
    margin-bottom: 50px;
    font-weight: 700;
}
.myself{
    text-align: center;
    color: white;
    font-size: 40px;
    
}
.myself>a{
    color: skyblue;

}